.fcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 80px;;
}

.fitem{
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    border: 2px solid grey;
    background-color: white;
    font-display: black;
    height: 150px;
    width: 150px;
    margin: 12px;
    align-content: center;
    align-items: center;
}

.fitem.fitem:hover{
    border: 2px solid rgb(98, 0, 255);
}
